@media (min-width:360px) and (max-width:800px){
    body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-x: hidden;
        position: relative;
    }

    header{
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        padding-top: 0px;
    }
    .container{
        position: static;
        /* right: 22px; */
        width: 88vw;
        box-shadow: none;
        height: 66vh;
        /* border: 2px solid red; */
        margin-left: 10vw;
        margin-top: 22vh;
        background-color: white;
    }

    #qr-input{
        width: 75vw;
        height: 7vh;
    }
    .qr{
        position: absolute;
        top: 80px;
        left: 12vw;
        width: 310px;
        height: 310px;
        display: flex;
        justify-content: center;
        border: 3px dashed grey;
        border-radius: 2px;
    }

    .limit-box .limit{
        height: 49px;
    }

    .limit-box {
        margin-top: 0vh;
    }

   .limit-box .limit input[type="number"] {
        width: 44%;
    }

    .btn-box .btn{
        width: 33vw;
        height: 3.6rem;
        font-size: 22px;
    }

    .btn-box #download{
        width: 33vw;
        height: 3.6rem;
        font-size: 22px;
    }
    #msg{
        display: block;
    }
}

@media (max-width:380px){

     #msg{
        display: block;
    }

      header{
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        height: 45px;
    }
   .container{
        position: static;
        /* right: 22px; */
        width: 88vw;
        box-shadow: none;
        height: 66vh;
        /* border: 2px solid red; */
        margin-left: 10vw;
        margin-top: 38vh;
    }

      .qr{
        position: absolute;
        top: 52px;
        left: 11%;
        width: 74vw;
        height: 310px;
        display: flex;
        justify-content: center;
        border: 3px dashed grey;
        border-radius: 2px;
    }
}

@media (max-width:350px){

     #msg{
        display: block;
    }
      header{
        justify-content: center;
        align-items: center;
        padding-left: 0px;
        height: 45px;
    }
   .container{
        position: static;
        /* right: 22px; */
        width: 88vw;
        box-shadow: none;
        height: 66vh;
        /* border: 2px solid red; */
        margin-left: 10vw;
        margin-top: 28vh;
    }

      .qr{
        position: absolute;
        top: 77px;
        left: 11%;
        width: 74vw;
        height: 310px;
        display: flex;
        justify-content: center;
        border: 3px dashed grey;
        border-radius: 2px;
    }
    .btn-box {
        margin-top: 33px;
    }

     .btn-box .btn{
        width: 110px;
        height: 3.6rem;
        font-size: 22px;
    }

    .btn-box #download{
        width: 110px;
        height: 3.6rem;
        font-size: 22px;
    }
}

@media (height:720px){

     #msg{
        display: block;
    }
    .container{
        position: static;
        /* right: 22px; */
        width: 88vw;
        box-shadow: none;
        height: 66vh;
        /* border: 2px solid red; */
        margin-left: 10vw;
        margin-top: 30vh;
    }

      .qr{
        position: absolute;
        top: 77px;
        left: 11%;
        width: 74vw;
        height: 310px;
        display: flex;
        justify-content: center;
        border: 3px dashed grey;
        border-radius: 2px;
    }
}

/* @media (prefers-color-scheme: dark){
    body{
        background-color: black;
        color: white;
    }
} */
